<ul class="nav nav-tabs nav-justified">
  <li role="presentation" class="active"><a [routerLink]="['/']">Лучшие статьи</a></li>
  <li role="presentation"><a [routerLink]="['/last']">Последние статьи</a></li>
</ul>
<div class="container text-center tab-content">
  <div class="col-md-3">
    <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <h4>UserName</h4>
    <p>Инструкция по сборке цилиндрического фалоимитатора со сферическими яйчонками</p>
    <p><span style="color: forestgreen">160 <span class="glyphicon glyphicon-thumbs-up" style="margin-right: 10px;"></span></span> <span style="color: firebrick">4 <span class="glyphicon glyphicon-thumbs-down"></span></span></p>
    <p><a class="btn btn-primary" href="#" role="button">View &raquo;</a></p>
  </div>
  <div class="col-md-3">
    <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <h4>UserName</h4>
    <p>Инструкция по сборке цилиндрического фалоимитатора со сферическими яйчонками</p>
    <p><span style="color: forestgreen">160 <span class="glyphicon glyphicon-thumbs-up" style="margin-right: 10px;"></span></span> <span style="color: firebrick">4 <span class="glyphicon glyphicon-thumbs-down"></span></span></p>
    <p><a class="btn btn-primary" href="#" role="button">View &raquo;</a></p>
  </div>
  <div class="col-md-3">
    <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <h4>UserName</h4>
    <p>Инструкция по сборке цилиндрического фалоимитатора со сферическими яйчонками</p>
    <p><span style="color: forestgreen">160 <span class="glyphicon glyphicon-thumbs-up" style="margin-right: 10px;"></span></span> <span style="color: firebrick">4 <span class="glyphicon glyphicon-thumbs-down"></span></span></p>
    <p><a class="btn btn-primary" href="#" role="button">View &raquo;</a></p>
  </div>
</div>
